* {
	box-sizing: border-box;
}
html,
body {
	min-width: 400px;
	margin: 0;
	padding: 0;
	height: 100%;
	background: white;
	overflow-x: hidden;
	display: block;
	font-size: 16px;
	font-family: Arial, sans-serif;
}
body,
input,
button {
	font-size: 14px;
	font-family: arial, sans-serif;
	color: #222;
}
header {
	display: flex;
	justify-content: flex-end;
	height: 60px;
	padding: 6px;
}
ul {
	margin: 0 !important;
	padding: 0 !important;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline !important;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.navbar {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	position: relative;
	min-width: 320px;
	margin: 0px;
	padding: 6px;
	list-style: none;
	color: black;
	font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
	transition: -webkit-box-shadow 250ms;
	transition: box-shadow 250ms;
	transition: box-shadow 250ms, -webkit-box-shadow 250ms, -moz-box-shadow 250ms;
}
.navbar .navbar-right {
	display: flex;
	justify-content: flex-end;
	flex: 0 0 auto;
	height: 48px;
	padding: 0 4px;
	font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}
.navbar .links {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	vertical-align: middle;
	height: 48px;
	font-family: arial, sans-serif;
	color: rgba(0, 0, 0, 0.87);
	padding-right: 15px;
	line-height: 24px;
}
.navbar .gapss-and-profile {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.navbar .gmail {
	display: inline-block;
	padding-left: 15px;
	line-height: normal;
}
.navbar .images {
	display: inline-block;
	padding-left: 15px;
}
.navbar li a {
	display: inline-block;
	color: rgba(0, 0, 0, 0.87);
	line-height: 24px;
}
.navbar .gapps {
	display: inline-block;
	width: 48px;
	height: 48px;
	padding: 4px;
}
.navbar .gapps .gapps-anchor {
	display: inline-block;
	height: 40px;
	width: 40px;
	padding: 8px;
}
.navbar .gapps svg {
	color: #5f6368;
	fill: currentColor;
	width: 24px;
	height: 24px;
}
.navbar .profile {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-moz-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	padding: 4px;
}
.navbar .profile .profile-anchor {
	color: black;
	cursor: pointer;
	width: 40px;
	height: 40px;
	text-decoration: none;
	padding: 4px;
}
.navbar .profile .profile-image {
	-webkit-background-size: 32px 32px;
	-moz-background-size: 32px 32px;
	-o-background-size: 32px 32px;
	background-size: 32px 32px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0;
	position: relative;
	width: 32px;
	height: 32px;
}
.center-logo {
	display: flex;
	box-sizing: border-box;
	flex-shrink: 0;
	flex-direction: column;
	align-items: center;
	min-height: 92px;
	max-height: 290px;
	height: calc(100% - 560px);
	justify-content: flex-end;
}
.search {
	padding: 20px;
	max-height: 160px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.search-container {
	width: auto;
	max-width: 584px;
	position: relative;
	margin: 0 auto;
	padding-top: 6px;
	width: 484px;
	width: auto;
}
.search-bar {
	background: #fff;
	border: 1px solid #dfe1e5;
	box-shadow: none;
	z-index: 3;
	height: 46px;
	display: flex;
	width: auto;
	max-width: 584px;
	box-shadow: none;
	border-radius: 24px;
	margin: 0 auto;
}
.search-bar:hover {
	-webkit-box-shadow: 0px 0px 20px -12px #969696;
	-moz-box-shadow: 0px 0px 20px -12px #969696;
	box-shadow: 0px 0px 20px -12px #969696;
}
.search-container .search-bar .search-bar-padding {
	display: flex;
	flex: 1;
	align-items: center;
	padding: 5px 8px 0 16px;
	padding-left: 14px;
}
.search-container .search-icon {
	z-index: 3;
	display: flex;
	align-items: center;
	padding-right: 13px;
	margin-top: -5px;
	padding-right: 13px;
}
.search-container .search-icon svg {
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	color: #9aa0a6;
	height: 20px;
	width: 20px;
	display: inline-block;
	fill: currentColor;
	line-height: 24px;
	position: relative;
}
.search-container .search-input {
	box-sizing: content-box;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	color: transparent;
	white-space: pre;
	padding-bottom: 5px;
}
#search-input {
	box-sizing: border-box;
	font-family: arial, sans-serif;
	display: flex;
	flex: 100%;
	height: 38px;
	font-size: 16px;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.87);
	word-wrap: break-word;
	outline: none;
	text-indent: 0px;
	text-align: start;
	appearance: auto;
	cursor: text;
}
.suggestion-top-border {
	border-top: 1px solid #e8eaed;
	margin: 0 10px 0 6px;
	padding-bottom: 4px;
}
.search-suggestion {
	/*searchsuggestionpop-up*/
	visibility: hidden;
	max-width: 584px;
	position: absolute;
	width: calc(100% - 2px);
	left: 1px;
	top: 50px;
	transform: translateZ(-15px);
	background: #fff;
	box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	box-sizing: content-box;
	padding: 0 0 4px 0px;
	border: 0;
	border-radius: 0 0 24px 24px;
	overflow: hidden;
	-webkit-transform: translateZ(-15px);
	-moz-transform: translateZ(-15px);
	-ms-transform: translateZ(-15px);
	-o-transform: translateZ(-15px);
	-webkit-border-radius: 0 0 24px 24px;
	-moz-border-radius: 0 0 24px 24px;
	-ms-border-radius: 0 0 24px 24px;
	-o-border-radius: 0 0 24px 24px;
}
.search-suggestion ul {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	flex: auto;
	padding-bottom: 8px;
}
.search-suggestion ul li {
	cursor: default;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 14px 0 14px;
	min-width: 0;
}
.search-suggestion ul li:hover {
	background: #eee;
}
.suggestion-company-icon {
	box-sizing: content-box;
	margin: 4px 7px 4px -5px;
	border-radius: 4px;
	min-height: 32px;
	min-width: 32px;
	background: center/contain no-repeat;
	display: flex;
	align-items: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.search-suggestion ul li p {
	margin: 0px;
	display: flex;
	font-size: 16px;
	color: #212121;
	flex: auto;
	align-items: center;
	word-break: break-word;
	padding-right: 8px;
}
.suggestion {
	display: flex;
	flex: auto;
	flex-direction: column;
	min-width: 0;
	padding: 6px 0;
}
.suggestion-search-icon {
	display: flex;
	align-items: center;
	margin: 0 13px 0 1px;
	background: url("https://www.google.com/images/searchbox/desktop_searchbox_sprites318_hr.webp")
		no-repeat 0 0;
	background-size: 20px;
	min-height: 20px;
	min-width: 20px;
	height: 20px;
	width: 20px;
}
/* .search-suggestion ul li .search-icon {
	
} */
input#search-input:valid ~ .visible-popup {
	visibility: visible;
	background-color: white;
}
input#search-input[value="b"] > div.search-suggestion > ul.b-keyword {
	visibility: visible;
}
/*
input#search-input:valid ~ .visible-popup {
	/*if a value is entered in the search box, make the autocomplete popup visible.*/ /*
	visibility: visible;
} */
.popup-fix-left {
	visibility: hidden;
	position: absolute;
	background-color: white;
	border-left: 1px solid #dfe1e5;
	left: 0px;
	top: 30px;
	width: 25px;
	height: 25px;
}
.popup-fix-right {
	visibility: hidden;
	position: absolute;
	background-color: white;
	border-right: 1px solid #dfe1e5;
	right: 0px;
	top: 30px;
	width: 25px;
	height: 25px;
}
.search-container .search-tools {
	display: flex;
	flex: 0 0 auto;
	margin-top: -5px;
	align-items: stretch;
	flex-direction: row;
}
.search-container .search-tools .keyboard-icon {
	box-sizing: content-box;
	flex: 1 0 auto;
	display: flex;
	cursor: pointer;
	align-items: center;
	border: 0;
	background: transparent;
	outline: none;
	padding: 0 8px;
	width: 24px;
	line-height: 44px;
}
.search-container .search-tools .keyboard-icon .icon {
	background: url(//www.gstatic.com/inputtools/images/tia.png) no-repeat center;
	height: 24px;
	width: 24px;
	vertical-align: middle;
}
.search-container .search-tools .voice-search {
	display: flex;
	flex: 0 0 auto;
	margin: auto;
	align-items: stretch;
	flex-direction: row;
	box-sizing: content-box;
	z-index: 3;
	display: flex;
	cursor: pointer;
	border: 0;
	background: transparent;
	outline: none;
	padding: 0 8px;
	width: 24px;
	line-height: 44px;
}
.search-container .search-tools .voice-search svg {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}
.search .buttons {
	box-sizing: content-box;
	height: 70px;
	padding-top: 18px;
	top: 53px;
	text-align: center;
}
.search .buttons input {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.search .buttons input:hover {
	-webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
	-moz-box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
	box-shadow: 0 1px 1px rgb(0 0 0 / 0.1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
}
.additional-languages-container {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
.additional-languages-container .additional-lang {
	font-size: small;
	margin-bottom: 24px;
	text-align: center;
}
.additional-languages-container .additional-lang .change-language {
	display: inline-block;
	line-height: 28px;
}

.additional-languages-container .additional-lang .change-language a {
	padding: 0 3px;
	color: #1a0dab;
	text-decoration: none;
}
footer {
	background: #f2f2f2;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}
footer .country {
	padding: 15px 30px;
	border-bottom: 1px solid #dadce0;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.54);
}
footer .footer-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 20px;
}
footer .footer-nav .footer-left {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
footer .footer-nav .footer-left a {
	color: #70757a;
	display: block;
	padding: 15px;
	white-space: nowrap;
}
footer .footer-nav .footer-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
footer .footer-nav .footer-right a {
	color: #70757a;
	display: block;
	padding: 15px;
	white-space: nowrap;
}
footer .footer-nav .footer-right .settings {
	display: block;
}
footer .footer-nav .footer-right .settings button {
	cursor: pointer;
	width: 100%;
	text-align: left;
	color: #70757a;
	display: block;
	padding: 15px;
	white-space: nowrap;
	border: none;
	background: none;
	margin: 0;
}
footer .footer-nav .footer-right .settings ul {
	display: none;
	bottom: 46px;
	right: 0px;
	list-style: none;
	background: white;
	border: 1px solid;
	margin: 0;
	padding: 0;
}
#settings-btn:active {
}
